

.formLoginA {
	width: 50rem;
	height: auto;
  display: flex;
  flex-direction: column;
/*  align-items: center;*/
  padding: 50px 40px;
  color: black;
  background: rgba(255, 255, 255, 0.0);
  border-radius: 40px;
  box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 100px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);

  /*h1 {
    margin: 0 0 24px 0;
  }*/
}